framework:net472
redirects:force
source https://api.nuget.org/v3/index.json

nuget Neo4jClient

nuget Antlr 3.5.0.2 prerelease
nuget bootstrap 3.4.1 prerelease
nuget jQuery 3.4.1 prerelease
nuget jQuery.Validation 1.17.0 prerelease
nuget Microsoft.AspNet.Mvc 5.2.7 prerelease
nuget Microsoft.AspNet.Razor 3.2.7 prerelease
nuget Microsoft.AspNet.Web.Optimization 1.1.3 prerelease
nuget Microsoft.AspNet.WebPages 3.2.7 prerelease
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 2.0.1 prerelease
nuget Microsoft.jQuery.Unobtrusive.Validation 3.2.11 prerelease
nuget Microsoft.Web.Infrastructure 1.0.0.0 prerelease
nuget Modernizr 2.8.3 prerelease
nuget Newtonsoft.Json 12.0.2 prerelease
nuget WebGrease 1.6.0 prerelease